.userListBody {
  background-color: rgb(250, 246, 246);
  height: 1100px;
}
.userListHeader {
  color: rgb(226, 132, 45);
  margin-bottom: 50px;
  /* font-family: Copperplate, Papyrus, fantasy; */
  font-family: "Times New Roman", Times, serif;
  /* text-shadow: 2px 2px #7b67fa, 3px 3px #937bf3, 2px 2px #ee0011; */
  animation: shadow-move 2s ease-in-out infinite alternate;
}
.userListButtonGroup {
  display: flex;
}
.sidebarRow.selected {
  background-color: rgb(167, 161, 161);
}
